---
---

<div>
  <p>
    游뛂 <strong>Disclaimer</strong>:
  </p>
  <ul class="mt-5">
    <li>
      18 jastan 칰lkenler (bilemen bun캼켻 bir t캼y캼n킷a paydas캼 joq bulda endi bir
      r치smiylikte endi pornografik saytlarda islemegen n치rse meni켻 us캼 bir
      sayt캼ma kirgen adam haw men ele 18ge tolmappan킷o sh캼킷캼p keteyin 18ge
      sh캼qqannan keyin qayt캼p kelip oq캼yman deyme)
    </li>
    <li>
      Ingliz tilinde jaz캼l킷an s칩zlerdi tuwr캼dan tuwr캼 <strong>google</strong> q캼l캼w
      us캼n캼s etilmeydi. B치ribir izleytu킷캼n bolsa켻 qas캼켻da heshkim joq ekenligine
      <strong>make sure no one with you</strong>. 칍ytkeni bul s칩gis s칩z bol캼w캼
      m칰mkin.
    </li>
    <li>
      Avtord캼켻맑az킷an oy-pikirleri waq캼t 칩tiwi menen ja켻alan캼p turad캼. 칍zi bul bur캼n
      qalay oyla킷an ekenmen-ay dep qayttan oq캼p k칩riw ush캼n 칩zime jaz캼p
      at캼rman-aw. Birewdi켻 칩mirin 칩zgertiw niyeti joq (칩z obal캼켻 칩zi켻e).
    </li>
    <li>
      Kommentti켻 bir t캼y캼nl캼q 치himiyetke iye emes (komment qald캼r캼w ilaj캼 da
      joq).
    </li>
  </ul>
</div>
